@charset "UTF-8";

/* TODAS AS MIDIAS*/

/* Typical Device Breakpoints
Pequenas telas: até 480px
Celular: de 481px ate 768px
Tablet: 769px até 1024px
Desktop: 1025px até 1200px
Grandes: acima de 1201px */

@media screen and (min-width: 769px) {
    #burguer{
        display: none;
    }
    
    nav{
        display: block;
    }

    nav li{
        display: inline-block;
    }

    main{
        width: 769px;
    }
}